{% extends "base.html.twig" %}


{% block body %}

<main>
            <h1 style="color:Green;"> Om Mig Själv</h1>
            <p>Skriven av Erke Håkansson, uppdaterad 2023-04-05.</p>

        <figure>
            <img src= "img/Erke.jpg" width="130" alt="Bild på mig">
            <figcaption style="font-size:15px;">Erke Håkansson</figcaption>
        </figure>
    
            <p>Hej, jag heter Erke Håkansson, 30 år.</p>
            
            <p>Jag pluggar webbprogrammering på distance.</p> 
            
            <p>Jag bor i en by utanför Kalmar med min familj.</p>
    
            <p>Är ekonom sen tidigare, tyckte alltid att jobba med siffror och olika program som till exempel excel.
            Efter att jag har gått kurser i business intelligence och java blivit jag intresserad av programmering.</p>
            
            <p> Mina hobbyer är att odla grönsaker, måla tavlor och promenera </p>
    
            <p> Med vänliga hälsningar</p>
    
            <p> Erke </p>

</main>

    {% endblock %}
